# Week 2 assignment

In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("housing.csv")
df.head()

   listing_id    price         size  bedrooms neighborhood          type
0      100001  1500000  1280.741760       1.0       Suburb     Townhouse
1      100002  1500000  1406.283113       2.0       Uptown  SingleFamily
2      100003  1500000  4146.825713       6.0       Suburb   MultiFamily
3      100004  1500000  3946.599818       6.0       Suburb  SingleFamily
4      100005  1500000  1243.751760       1.0     Downtown   MultiFamily

## PART A

In [7]:
#creating summary table 

summary = (df.query('price>250000 and size>1000').assign(price_per_sqft=lambda x : x['price']/x['size']).groupby('neighborhood')['price_per_sqft'].agg(avg_price_per_sqft='mean',median_price_per_sqft='median', count='count').sort_values('avg_price_per_sqft', ascending=False))
summary

              avg_price_per_sqft  median_price_per_sqft  count
neighborhood
Downtown              977.820905            1001.557049     99
Midtown               921.141446             901.992377     92
Suburb                861.917078             836.878644    157
Uptown                860.935608             843.653468     99
Waterfront            849.508891             792.663291     48

## PART B--dplyr equivalent

#R code equivalent

summary = df |> 
           filter(df, df.price>250000, df.size>1000) |>
           
           mutate(price_per_sqft=df.price/df.size) |>
           
           groupby(neighborhood) |>
           
           summarise(
           avg_price_per_sqft = mean(price_per_sqft),
           median_price_per_sqft = median(price_per_sqft),
           count = n()
           ) |>
           
           arrange(desc(avg_price_per_sqft))


           N.B replace the dots(.) by the dollar sign('$'). I code it with the dots because when I run it with the dollar sign, it disappears.

### Reflection


From my perspective, the R code feels clearer. Using the pipe allows me to better follow the sequence of the code. Dplyr is more straightforward. You can almost read it like plain English. The column references inside the operations are different. Nevertheless, they both use a step-by-step structure and don't modify the original data.

## PART C--Boolean logic debug

In [ ]:
df[df["price"] > 250000 & df["size"] > 1000]

### Tasks

1. Fix the code.
2. Explain **why** the error occurs.
3. Rewrite the filter using `.query()` instead.

In [9]:
(df["price"] > 250000) & (df["size"] > 1000)

0      True
1      True
2      True
3      True
4      True
       ...
595    True
596    True
597    True
598    True
599    True
Length: 600, dtype: bool

The error occured because of python's precedence rule.

In [12]:
#alternative option using query
df.query('price>250000 and size>1000')

     listing_id    price         size  bedrooms neighborhood          type
0        100001  1500000  1280.741760       1.0       Suburb     Townhouse
1        100002  1500000  1406.283113       2.0       Uptown  SingleFamily
2        100003  1500000  4146.825713       6.0       Suburb   MultiFamily
3        100004  1500000  3946.599818       6.0       Suburb  SingleFamily
4        100005  1500000  1243.751760       1.0     Downtown   MultiFamily
..          ...      ...          ...       ...          ...           ...
595      100596  1500000  1443.241197       3.0      Midtown         Condo
596      100597  1500000  1083.909714       2.0       Suburb         Condo
597      100598  1500000  1600.126432       1.0       Suburb  SingleFamily
598      100599  1500000  1248.216637       1.0   Waterfront         Condo
599      100600  1500000  1450.981922       NaN       Suburb  SingleFamily

[495 rows x 6 columns]

## PART D

1. Why must we wrap each condition in parentheses when using `&` in pandas?
2. What is the advantage of method chaining over creating many temporary DataFrames?
3. In `.agg(mean_price=("price", "mean"))`, what does `"price"` represent? What does `"mean"` represent?
4. When you `groupby("neighborhood")`, why does `neighborhood` appear on the left (index) in the result table?

### ANSWERS

1. We must wrap the conditions because of operator precedence. Some operators bind tighter than others. Without parentheses, python evaluates certain operation first before getting to the next. Parentheses force the resolution of conditions and then combine them.
2. Using chaining allows one to avoid declaring variables that they will not reuse. In addition, it is less likely that a variable is used in place of another.
3. In this code, price represent the input variable to be aggregated, and mean represents the aggregation function.
4. Because neighborhood is used to organize the data. It becomes the identifier of each group. Each row represents a group.